$dark-blue: hsl(240, 38%, 20%);
$grayish-blue: hsl(240, 18%, 77%);

@media(min-width: 1440px){
    .testimonial{

        // background images
        background-image: url("../images/pattern-quotes.svg"), url("../images/pattern-bg.svg"),  url("../images/pattern-curve.svg");
        background-size: 6%, 48%,  auto;
        background-position: 18% 27%, 85% 22%, bottom left;

        // desktop layout
        grid-template-columns: 15rem 28ch 10rem min-content 5rem;
        grid-template-rows: 10rem min-content min-content min-content 16rem;
        grid-template-areas: 
            ". . . . ."
            ". message message header ."
            ". footer . header ."
            ". . . . ."
        ;
        // header
        &__header{
            // overlap message and image
            grid-column: 3/5;
        }
        &__img{
            max-width: none;
        }
        &__slide-control-button{
            // move slider button to the left side
            right: 18rem;
            height: 5.6rem;
            width: 5.6rem;
        }
        // article body content
        &__message{
            text-align: left;
            align-self: end;
        }

        // footer content
        &__footer{
            text-align: left;
            display: flex;
            width: max-content;
            
        }
        &__degree{
            margin-left: 1.5rem;
        }

    }
}