$dark-blue: hsl(240, 38%, 20%);
$grayish-blue: hsl(240, 18%, 77%);

// 375 px
.page{
    min-height: 100vh;
    background-color: #F0F0F0;
}
.testimonial{
    background-color: white;
    color: $dark-blue;
    max-width: 144rem;
    margin: 0 auto;
    // fluit typography
    font-size: clamp(1.8rem, 3vw, 3.2rem);
    line-height: clamp( 2.4rem, 4vw, 4.4rem);

    // background images
    background-image: url("../images/pattern-quotes.svg"), url("../images/pattern-bg.svg"),  url("../images/pattern-curve.svg");
    background-repeat: no-repeat;
    background-size: 5rem, 90% 49%,  69% 12%;
    background-position: 50% 54%,50% 0%,  bottom left;

    // layout
    display: grid;
    grid-template-columns: 2rem 1fr 2rem;
    grid-template-rows: 3rem min-content min-content min-content 11rem;
    grid-template-areas: 
        ". . ."
        ". header ."
        ". message ."
        ". footer ."
        ". . ."
    ;

    // header content
    &__header{
        grid-area: header;
        justify-self: center;

    }
    &__img{
        max-width: 28rem;
        box-shadow: 0 2rem 3rem hsla(240, 18%, 77%, 0.3);
        border-radius: .5rem;
    }
    &__slider-control{
        display: flex;
        justify-content: center;
    }
    &__slide-control-button{
        border: none;
        background-color: white;
        width: 4rem;
        height: 4rem;
        box-shadow: 0 1rem 3rem hsla(240, 18%, 77%, 0.3);

        // change cursor to reflex that the buttons are clickable
        cursor: pointer;

        // move the buttons on top of othe image
        position: relative;
        bottom: 2.2rem;
        &:active{
            transform: scale(0.9);
        }
        &:hover{
            background-color: #eeeeff;
        }
    }
    &__prev{
        border-radius: 2rem 0 0 2rem;
    }
    &__next{
        border-radius: 0 2rem 2rem 0;
    }

    // article body content
    &__message{
        margin: 2rem 0;
        grid-area: message;
        text-align: center;
    }

    // footer content
    &__footer{
        grid-area: footer;
        text-align: center;
        font-size: clamp(1.5rem, 2vw, 2rem);
    }
    &__name{
        margin: 0;
        color: $dark-blue;
        font-weight: bold;
    }
    &__degree{
        margin: 0;
        color: $grayish-blue;
    }

}

.slider{
    display: none;
}